/* LAYUOT CSS */
#header {
	background-color: orange;
	color: darkgreen;
	text-align: center;
	padding: 5px;
}
#footer {
	background-color: black;
	color: white;
	text-align: center;
	padding: 3px;
}
p.note {
	background-color: lightblue;
	padding: 10px;
	margin:10px;
}

.row {
	margin: 100px auto;
	padding: 30px;
	border:2px;
	width: 100%;

}
.left-rail{
	width: 66%;
	border:2px ;

}
.right-rail{
	width: 25%;
	border:2px;
}

.textarea {
	width: 730px;
	height: 100px;
}
