 .row {
	margin: 100px auto;
	padding: 30px;
	border:2px;
	width: 100%;

} 
.left-rail{
	width: 66%;
	border:2px dotted green;

}
.right-rail{
	width: 25%;
	border:2px dotted blue;
}

.textarea {
	width: 730px;
	height: 100px;
}
